@import './function.scss';

* {
    margin: 0;
    padding: 0;
    // transition: .1s ease-in-out;
}

body {
    font-family: $primaryFont;
    // background: #000212;
    // color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}